@import 'tailwindcss';

@theme {
  --font-sans: 'Noto Sans KR', sans-serif;
  --color-primary-50: #ecfdf5;
  --color-primary-100: #d1fae5;
  --color-primary-500: #10b981;
  --color-primary-600: #059669;
  --color-primary-700: #047857;
  --color-primary-900: #064e3b;
}

@media print {
  body {
    background: white !important;
    padding: 0 !important;
  }
  aside,
  header,
  .no-print {
    display: none !important;
  }
  main {
    overflow: visible !important;
    padding: 0 !important;
  }
}
